<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Powered by</span>
    <a
      b-slate-link
      href="https://sapiens-ia.com" target="_blank"
    >
    Sapiens IA Laboratories
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://sapiens-ia.com/enterprise" target="_blank"
    >
      Basilisk AI V-0-3
    </a>
  </p>
</footer>
